<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nearit.pokeflute">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE " />

    <application>
        <activity android:name=".SolutionActivity"
            android:theme="@style/PF_DialogActivity"/>
    </application>
</manifest>
